* {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Play',sans-serif;
}

body {
    background-color: #111;
}

.container40 {
    padding-left: 40px;
    padding-right: 40px;
}

.indent {
    margin-top: 70px;
}

.detail {
    list-style: none;
    overflow: visible;
    font: inherit;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    transition-property: color,background-color,border-color;
    background-color: #f51616;
    color: #fff;
    border: 1px solid transparent;
    margin-bottom: 40px !important;
    padding: 0 40px;
    line-height: 53px;
    cursor: pointer;
    font-size: 1rem;
}

.detail:hover {
    color: white;
}

/* HEADER */

header {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #1B1B1B;
    height: 50px;
}

/* NAVIGATION  */

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

header ul {
    list-style: none;
    display: flex;
    padding: 0px;
    text-transform: uppercase;
}

header ul a {
    text-decoration: none;
    color: #999;
    font-size: 16px;
    margin-left: 20px;
}

.navbar-left ul li a:hover {
    color: #fff;
}

.navbar-left {
    display: flex;
}

.navbar-left img {
    max-width: 130px;
    animation-name: small-logo;
    animation-duration: 500ms;
    transform: scale(1);
}

.navbar-left img:hover {
    animation-name: big-logo;
    animation-duration: 500ms;
    transform: scale(1.1);
}

@keyframes big-logo {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes small-logo {
    100% {
        transform: scale(1);
    }
    0% {
        transform: scale(1.1);
    }
}


.navbar-right {
    display: flex;
}

.navbar-right a {
    display: flex;
    text-decoration: none;
}

.navbar-right .geo svg {
    color: #999;
}

.navbar-right .geo:hover svg,
.navbar-right .geo:hover .city{
    color: #fff;
}

.navbar-right .city {
    color: #999;
}

.navbar-right .phones a {
    color: #ccc;
    text-decoration: none !important;
}

.navbar-right .phones a:hover {
    color: #fff;
}

.navbar-right .search svg,
.navbar-right .basket svg
{
    color: #999;
}

.navbar-right .search svg,
.navbar-right .basket svg
{
    color: #999;
}

.navbar-right .search svg:hover,
.navbar-right .basket svg:hover
{
    color: #fff;
}

.navbar-right .city,
.navbar-right .geo,
.navbar-right .phones,
.navbar-right .search,
.navbar-right .basket
{
    margin-left: 10px;
}

.navbar-toggle {
    display: none;
    border: none;
    background-color: transparent;
    fill: currentcolor;
    padding: 0 15px;
    text-decoration: none;
    color: #fff;
    margin-left: 5px;
}

/* SLIDER */

.slider {
    margin-top: 27px;
    max-width: 2560px;
}

.slider__item {
    background-color: black;
    color: white;
    background-size: cover;
    will-change: transform,opacity;
    min-height: 42.1vw !important;
    background-position: 25% 25%;
    background-repeat: no-repeat;
}

.slider .text {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.slider .text .big_text {
    color: #fff;
    font-weight: 700;
    width: 50%;
    font-size: 2.2em;
}

.slider .text .small_text {
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 50%;
    font-size: 1.5em;
}

/* CATALOG */
.catalog {
    text-align: center;
}

.catalog h1 {
    color: #fff;
}

.catalog a {
    text-decoration: none;
    color: white;
}

.catalog img {
    width: 100%;
}

.catalog .title {
    font-size: 1.4rem;
    line-height: 1.4;
}

.catalog .text {
    color: #ccc;
    margin-top: 10px;
}

.catalog .price {
    color: #999;
    margin-top: 10px;
    margin-bottom: 10px;
}

.detailSm {
    display: inline-block;
    text-transform: uppercase;
    background-color: #f51616;
    color: #fff;
    border: 1px solid transparent;
    padding: 0 10px;
    line-height: 32px;
    font-size: .8125rem;
    box-sizing: border-box;
    max-width: 100%;
    width: 150px;
}


/* SELECT */

.m {
    margin-bottom: 20px;
}

.last {

}

.lower {
    width: 50%;
}

.select {

}

.enable {
    border: 1px solid #fff !important;
}

.none {
    display: none;
}

.select:before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: rgba(60,60,60,1);
}

.select h1 {
    margin-bottom: 20px;
}

.select h1,
.select h2
{
    text-align: center;
    color: #fff;
}

.select h1:before {
    content: "";
    display: block;
    height: 50px;
}

.select .by-parameters button,
.select .for-games button,
.select .for-work button,
.select .price button,
.select .gpu button,
.select .cpu button
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: 1px solid #333;
    padding: 20px;
    width: 100%;
}

.select .by-parameters button svg,
.select .by-parameters button .text,
.select .for-games button svg,
.select .for-games button .text,
.select .for-work button svg,
.select .for-work button .text,
.select .price button .text,
.select .gpu button .text,
.select .cpu button .text
{
    color: #ccc;
}

.select .by-parameters:hover button svg,
.select .by-parameters:hover button .text,
.select .for-games:hover button svg,
.select .for-games:hover button .text,
.select .for-work:hover button svg,
.select .for-work:hover button .text,
.select .price:hover button .text,
.select .gpu:hover button .text,
.select .cpu:hover button .text
{
    color: #fff;
}

.select .by-parameters:hover button,
.select .for-games:hover button,
.select .for-work:hover button,
.select .price:hover button,
.select .gpu:hover button,
.select .cpu:hover button
{
    border: 1px solid #bbb;
}

.select .down {
    text-align: center;
    color: #fff;
    position: relative;
    animation: 500ms linear infinite alternate slidein;
}

@keyframes slidein {
    0% {
        top: 0px;
    }
    100% {
        top: 10px;
    }
}

/* FEEDBACK */

.feedback h2{
    color: #fff;
    margin-top: 50px;
    margin-bottom: 30px;
}

.feedbackBg {
    border: 1px solid #2a2a2a;
    background-color: #1e1e1e;
    margin-bottom: 40px;
    padding: 20px;
    font-size: 1.125rem;
}

.balls,
.feedback .heading
{
    color: #fff;
}

.feedback .description{
    color: #ccc;
}

.feedback .balls {
    font-size: 6rem !important;
    line-height: 0.9;
}

.feedback .indent30 {
    margin-bottom: 30px;
}

/* FOOTER */

footer {
    background-color: #1B1B1B;
    padding-top: 40px;
}

footer .item a {
    color: #999;
}

footer .item a,
footer .name a
{
    text-decoration: none;

}

footer .name a {
    color: #fff !important;
}

footer .links {
    display: flex;
    font-size: 90%;
}

footer .links a {
    text-decoration: none;
    color: #f51616 !important;
}

footer .floor2 {
    margin-top: 30px;
    margin-bottom: 15px;
}

footer .uk-icon {
    fill: currentcolor;
}

footer .instagram-icon {
    color: #fff;
}

footer .youtube-icon {
    color: #f00;
}

footer .floor3 {
    background-color: #171717;
    padding-top: 15px;
    padding-bottom: 20px;
}

footer .copyright {
    font-size: 80%;
    color: #fff !important;
}

footer .trademark {
    font-size: 80%;
    color: #999 !important;
    margin-top: 3px;
    margin-bottom: 3px;
}

footer .links .separator {
    color: #808080 !important;
    margin: 0px 5px;
}

footer .centre {
    text-align: center;
}

footer .links {
    justify-content: center;
}

footer .buyers {
    padding-top: 0px;!important;
    padding-bottom: 0px;!important;
}

/* MEDIA */

@media (max-width: 1200px) {
    .navigate,
    .geo,
    .search
    {
        display: none;
    }

    .navbar-toggle {
        display: block;
    }
}

@media (max-width: 991px) {
    .indent {
        margin-top: 40px;
    }

    .last {
        width: 100%;
    }

}

@media (min-width: 1920px) {
    .slider__item {
        min-height: 800px !important;
    }
}

/* NOTEBOOKS */

.indentHeader {
    margin-bottom: 50px;
}

.notebooks-h1 {
    padding-top: 40px;
    font-size: 2.625rem;
}

.notebooks-text {
    font-size: 1.125rem !important;
    color: #ccc;
    margin-top: 20px;
}

.notebooks h1 {
    font-weight: bold;
}

.notebooks-h2 {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: bold;
    margin-top: 40px;
}

.assortment {
    justify-content: center;
}

.notebooks .assortment img {
    max-width: 100%;
}

.notebooks a {
    text-decoration: none;
}

.buy {
    margin-top: 15px;
    align-items: center;
}

.buy-notebook {
    padding: 0 10px;
    line-height: 32px;
    font-size: .8125rem;

    background-color: #f51616;
    color: #fff;
    border: 1px solid transparent;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    transition-property: color,background-color,border-color;
    vertical-align: middle;
    -webkit-appearance: none;
    border-radius: 0;
    display: inline-block;
    box-sizing: border-box;
    overflow: visible;
    margin: 0;
}

.buy-notebook:hover {
    color: #fff;
}

.button-buy {
    text-align: right;
    padding: 0 !important;
}

.details-notebook {
    text-align: left;
}

.details-notebook:hover {
    color: #999 !important;
}

.margin-medium {
    overflow: visible;
    text-align: inherit;
    margin: 0 0 20px 0;
    border: 0;
    border-top: 1px solid #2a2a2a;
    margin-bottom: 40px;
    margin-top: 40px !important;
}

.min-height-120 {
    min-height: 120px;
}

.units {
    font-size: 2rem;
}

.caption {
    color: #999;
    font-size: .875rem;
}

.button-not-available {
    background-color: transparent;
    color: #999;
    padding: 0 10px;
    line-height: 32px;
    font-size: .74rem;
    border: 1px solid #2a2a2a;

    text-transform: uppercase;
}


/* DETAIL */

.position-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.background-cover {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.height-100 {
    height: 100vh;
    max-width: 2560px;
}

.colorful-text {
    background: linear-gradient(to right, #568df2 0, #f01bcf 51%, #f01bcf 51%, #ff1d8b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-color-999 {
    color: #999;
}

.background-color-black {
    background-color: #000;
}

.details-h1 {
    text-transform: uppercase !important;
    font-size: 2.625rem;
    line-height: 1.2;
    margin: 0 0 20px 0;
    font-weight: bold;
}

.details-text {
    font-size: 1.125rem !important;
    margin: 0 0 20px 0;
    font-family: 'Play',sans-serif;
    font-weight: normal;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    color: #ccc;
}

.details-margin {
    margin-bottom: 50px;
}

.details-margin-100 {
    margin-bottom: 100px;
}


.details-topic {
    margin: 0 !important;
    font-size: 1.5rem;
    line-height: 1.4;
    font-family: 'Play',sans-serif;
    font-weight: bold;
}

.specifications-caption {
    color: #999;
    line-height: 1.2;
}

.specifications-units {
    margin: 0;
    font-weight: 400;
    white-space: nowrap;
    font-size: 2.625rem;
}

.height-90 {
    height: 90vh;
    max-width: 2560px;
}

canvas {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.details-buy {

}

.bg-color-28 {
    background-color: #282828;
}

.details-margin-for-bg {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-right {
    text-align: right;
}

.buy-text {
    font-size: 1.5rem;
    line-height: 1.4;
    font-family: 'Play',sans-serif;
    font-weight: bold;
    margin-right: 40px;
}

.buy-button-size {

}

.buy-button {
    width: 250px;
    height: 55px;
    background-color: #f51616;
    color: #fff;
    border: 1px solid transparent;
}

.details-padding-bottom-50 {
    padding-bottom: 50px;
}

.card-buy {

}

.card-buy-width {
    width: 300px;
}

.background-color-gray {
    background: #111;
}

.card-buy-center {
    display: flex;
    justify-content: center;
}

.card-name {
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: bold;
}

.card-price {
    line-height: 1.2;
    font-size: 1.125rem;
    font-weight: normal;
}

.bi-cart {
    padding-left: 0 !important;
}

.card-button {
    width: 124px;
    background-image: linear-gradient(
        80deg
        , transparent 120px, #f51616 110px, #f51616 158px, #333 160px);

    background-size: 250px;
    background-position: -125px;

    padding: 0 10px;
    line-height: 32px;

    border: none;

    transition: all .2s ease-in-out;
}

.card-button:hover {
    background-image: linear-gradient(
        80deg
        , transparent 120px, #f51616 110px, #f51616 260px, #333 160px);
}

.card-button:focus {
    background-image: linear-gradient(
        80deg
        , transparent 120px, #700b0b 110px, #700b0b 260px, #333 160px);
}

.padding-left-15 {
    padding-left: 15px;
}

.card-margin {
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-hr {
    overflow: visible;
    text-align: inherit;
    border: 0;
    border-top: 1px solid #999;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-platform-caption {
    font-size: .875rem;
    line-height: 1.5;
    font-weight: normal;
    color: #ccc;
}

.card-platform-name {
    line-height: 1.5;
    font-weight: normal;
    color: #fff;
}

.buyers {
    padding-top: 40px;
    padding-bottom: 40px;
}

.buyers-text {
    color: #ccc;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
}

.buyers-h1 {
    margin-bottom: 20px;
}

.about-card {
    margin: 20px;
    background-color: #1e1e1e;
    box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
    min-height: 600px;
}

.about-down {
    padding: 35px 20px;
}

.about-img {
    width: 100%;
}

.about-link {
    text-decoration: none;
}

.about-title {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: bold;
}

.about-description {
    font-size: 1.125rem !important;
    font-weight: 400;
    color: #999 !important;
    line-height: 1.5;
}

.about-text {
    margin-top: 20px;
    color: #ccc;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
}

.about-page {
    padding-top: 40px;
    padding-bottom: 40px;
}

.page_in_progress {
    padding-top: 40px;
    padding-bottom: 40px;
}

.work-img {
    filter: invert(100%);
}

.work-text {
    font-size: 2.5rem;
}

.work-link {
    text-decoration: none;
    font-size: 2rem;
}

.dropdown {
    position: absolute;
    top: 60px;
    right: 8%;
    width: 250px;
    background: #0e0e0e;
}

.dropdown-acc {
    padding: 5px 0;
}

.dropdown-acc a {
    text-decoration: none;
    color: #999;
    white-space: nowrap;
    font-size: .875rem;
}

.dropdown-acc a:hover {
    color: #ccc;
}

.dropdown-text {
    padding: 15px 25px;
}

.dropdown-button-a {
    list-style: none;
    overflow: visible;
    font: inherit;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    transition-property: color,background-color,border-color;
    background-color: #f51616;
    color: #fff;
    border: 1px solid transparent;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
    cursor: pointer;
    width: 100%;
    padding: 0 10px;
    line-height: 32px;
    font-size: .8125rem;
}

.dropdown-button-a:hover {
    color: #ccc;
}

.dropdown-item {
    display: flex;
    align-items: center;
}

.dropdown-item:hover {
    background: none;
}

.dropdown-item-img img {
    width: 50px;
}

.dropdown-item-name {
    color: #ccc;
    font-size: .875rem;
    line-height: 1.5;
    margin-left: 80px;
}

.basket-page .dropdown-item {
    display: flex;
    align-items: center;
}

.basket-page .dropdown-item-img img {
    width: 150px;
}

.basket-page .dropdown-item-name {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.4;
}

.basket-page .dropdown-item:hover {
    background: none;
}

.basket-page-price {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    color: #ccc;
    margin-left: 80px;
}

.footer-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.login-form {
    position: absolute;
    top: 20%;
    left: 10%;
}

.login-register {
    position: absolute;
    top: 15%;
    left: 10%;
}

.card {
    background-color: #111!important;
}

.card-header,
.card-body
{
    color: #999;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.overhead {
    display: flex;
    justify-content: space-between;
}

.main-content-user {
    min-height: 59vh;
}

.orders-img img {
    width: 200px;
}


